<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title%>
        </title>
        
        <link type="text/css" rel="stylesheet" href="/css/layout.css">

        <%- style %>
    </head>

    <body>
        <header>
            This is the header of this page
        </header>

        <%- body %>

        <footer>
            This is the footer of this page
        </footer>
    </body>
</html>