<link type="text/css" rel="stylesheet" href="/css/sign_up.css">

<h1>This is User Sign Up Page</h1>

<!-- Creating the sign-up form -->
<form action="/users/create" method="POST">
    <input type="text" name="name" placeholder="Your Name" required>
    <input type="email" name="email" placeholder="Your Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
    <input type="submit" value="Sign Up">
    
</form>


<!-- link for google sign-in/up -->
<a href="/users/auth/google">
    <button type="submit">Google Sign-In</button>
</a>