*{ //it removes the white space between the header main and footer
    margin: 0%;
}
body{
    margin: 0px;
    /* text-align: center; */

    header{
         
        .header-container{
            height: 5rem;
            display: flex;
            color: white;
            background-color: rgb(112, 112, 241);
            justify-content: space-between;
            align-items: center;
            padding: 0 2rem;

            
            ul{
                display: flex;
                width: 18%;
                justify-content: space-around;
                align-items: center;
                list-style: none;
                padding: 0;
                li{
                        
                    display: inline-block;
                    font-size: 1.2rem;
                    margin: 0.5rem;
                    a{
                        color:white;
                        text-decoration: none;
                    }
                }
            }
            
        }
    }

    main{
        height: 100vh;
        margin-bottom: -2rem;
        padding-bottom: 1rem;
        padding-top: 1.5rem;
        background: rgb(249,249,251);
        background: linear-gradient(163deg, rgba(249,249,251,1) 0%, rgba(215,215,241,1) 35%, rgba(112,112,241,1) 100%);

    }

    footer{
        .footer-container{
            height: 5rem;
            display: flex;
            color: white;
            background: rgb(165,165,241);
            background: linear-gradient(150deg, rgba(165,165,241,1) 0%, rgba(145,145,241,1) 35%, rgba(112,112,241,1) 100%);
            
            align-items: center;
            padding: 0 2rem;


            ul{
                list-style: none;
                li{
                    font-size: 1.2rem;
                    a{
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}