#feed-posts {
  margin: 2rem auto;
}

#feed-posts #post-form {
  text-align: center;
}

#feed-posts #post-form input {
  display: block;
  margin: auto;
}

#feed-posts #post-list-container ul li {
  margin-top: 1rem;
}
