* {
  margin: 0%;
}

body {
  margin: 0px;
  /* text-align: center; */
}

body header .header-container {
  height: 5rem;
  display: flex;
  color: white;
  background-color: #7070f1;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

body header .header-container ul {
  display: flex;
  width: 18%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
}

body header .header-container ul li {
  display: inline-block;
  font-size: 1.2rem;
  margin: 0.5rem;
}

body header .header-container ul li a {
  color: white;
  text-decoration: none;
}

body main {
  min-height: 32rem;
  margin-bottom: -2rem;
  padding-bottom: 1rem;
  padding-top: 1.5rem;
  background: #f9f9fb;
  background: linear-gradient(163deg, #f9f9fb 0%, #d7d7f1 35%, #7070f1 100%);
}

body footer .footer-container {
  height: 5rem;
  display: flex;
  color: white;
  background: #a5a5f1;
  background: linear-gradient(150deg, #a5a5f1 0%, #9191f1 35%, #7070f1 100%);
  align-items: center;
  padding: 0 2rem;
}

body footer .footer-container ul {
  list-style: none;
}

body footer .footer-container ul li {
  font-size: 1.2rem;
}

body footer .footer-container ul li a {
  color: white;
  text-decoration: none;
}
